<nav class="navbar navbar-expand-lg ">
    <a href="#" class="navbar-brand">
        <img src="assets/Scribe-Logo2.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navid" aria-controls="navid" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navid">
        <ul class="navbar-nav mr-auto">
            <!--routerLinkActive takes name of class (in this case bootstrap class active) and applies that 
                class to that element when that page is loaded -->
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse">
                <a class="nav-link" routerLink="/myblogs">Myblogs</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item right">
                <a class="nav-link" routerLink="/profile">My Profile</a>
            </li>

            <li class="nav-item right" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse" *ngIf="!loginflag">
                <button class="btn btn-outline-light px-5 loginoutbt nav-link" routerLink="/login">Login</button>
            </li>
            
            <li class="nav-item right" *ngIf="loginflag" routerLinkActive="active">
                <button class="btn btn-outline-light px-5 loginoutbt nav-link" routerLink="/login" (click)="signout()">Logout</button>
            </li>
        </ul>
    </div> 
</nav>