<div class="row">
    <div class="col-sm-6 leftdiv p-4">
        Dont just think, Blog it!
    </div>
    <div class="col-sm-6 rightdiv p-4">
        <div class="card text-blank border-0">
            <div class="card-title text-center">
                <h4> Sign Up for Free</h4>
            </div>
            <div class="card-text">
                <form [formGroup]="myform" (ngSubmit)="submit()">
                <div class="row">    
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" placeholder="First Name"
                        formControlName="fn"/>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" placeholder="Last Name"
                        formControlName="ln" />
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="!(myform.controls.fn.valid && myform.controls.ln.valid) && (myform.controls.fn.touched && myform.controls.ln.touched)">
                    First and last name are required</div>
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" formControlName="email"/>
                        <small class="form-text text-muted">Email shall not be shared</small>
                    </div>
                    <div class="alert alert-danger" *ngIf="!(myform.controls.email.valid) && myform.controls.email.touched">Valid email is required</div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" formControlName="pswd"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpswd"/>
                    </div>
                    <div class="alert alert-danger" *ngIf="myform.controls.pswd.value != myform.controls.cpswd.value">Password doesnot match</div>
                    <div class="text-center">
                            <button type="submit" class="btn btn-block btn-warning">Submits</button>
                    </div>
                </form>
        <div class="alert" *ngIf="message.length >0">{{message}}</div>
            </div>
        </div>   
    </div>
</div>
