<div class="m">
    <div class="row col-sm-12">
        <div class="offset-sm-3 col-sm-2">
            <img src="../../assets/dp.jpg" style="width: 100%;">
        </div>
        <div class="col-sm-4">
            <span class="txt">First Name</span>:<input type="text" class="form-control" value="Nancy"><br>
            <span class="txt">Last Name</span>:<input type="text" value="Drew" class="form-control"><br>
            <span class="txt">Mobile No:</span>:<input type="text" value="8948894882" class="form-control"><br>
            <span class="txt">Email id:</span>:<input type="text" value="nancy@gmail.com" class="form-control"><br>
            <button class="btn btn-primary btn-warning">Update Profile</button>
            <hr style="border: 2px solid white">
            <input type="text" placeholder="Enter Old Pswd" class="form-control"><br>
            <input type="text" placeholder="Enter New Pswd" class="form-control"><br>
            <input type="text" placeholder="Confirm New Pswd" class="form-control"><br>
            <button class="btn btn-primary btn-warning">Reset Password</button>
        </div>
    </div>
</div>
