.m {
    background-image: url("../../assets/bg5.jpg");
    background-size:cover;
    background-color: whitesmoke;
    position: absolute;
    right:0px;
    left:0px;
    bottom: 0px;
    top:80px;
}
.txt {
    font-family: "Overpass",sans-serif;
    font-size: 25px;
    font-weight: 500;
    color:#666666;
}
.form-control {
    height:50px;
}

.btn {
    width:100%;
    color:#666666;
    font-size: 23px;
    font-weight: bold;
}