<div id="cont">
<div class="row">
  <div class="col-sm-6 p-4 tjs">
    Don't just think<br>
    <b class="tjsmax">Blog it!!!</b>
  </div>
  <div class="col-sm-6 rightdiv p-4">
      <div class="card text-blank border-0">
          <div class="card-title text-center txt">
            Sign Up for Free
          </div>
          <div class="card-text">
              <form [formGroup]="myform" (ngSubmit)="submit()">
              <div class="row">    
                  <div class="form-group col-sm-6">
                      <input type="text" class="form-control" placeholder="First Name"
                      formControlName="fn"/>
                  </div>
                  <div class="form-group col-sm-6">
                      <input type="text" class="form-control" placeholder="Last Name"
                      formControlName="ln" />
                  </div>
              </div>
              <div class="alert alert-danger" *ngIf="!(myform.controls.fn.valid && myform.controls.ln.valid) && (myform.controls.fn.touched && myform.controls.ln.touched)">
                  First and last name are required</div>
                  <div class="form-group">
                      <input type="email" placeholder="Email" class="form-control" formControlName="email"/>
                      <small class="form-text text-muted">Email shall not be shared</small>
                  </div>
                  <div class="alert alert-danger" *ngIf="!(myform.controls.email.valid) && myform.controls.email.touched">Valid email is required</div>
                  <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" formControlName="pswd"/>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpswd"/>
                  </div>
                  <div class="alert alert-danger" *ngIf="myform.controls.pswd.value != myform.controls.cpswd.value">Password doesnot match</div>
                  <div class="text-center">
                          <button type="submit" class="btn btn-block btn-warning">Submits</button>
                  </div>
              </form>
      <div class="alert alert-warning mt-2" *ngIf="message.length >0">{{message}}</div>
          </div>
      </div>   
  </div>
</div>

<div class="row mt-5">
    <div class="col-sm-5 offset-sm-1">
        <img src="../../assets/What-Is-Scribe-Image.png" class="float-right" style="height: 400px;">    
    </div>
    <div class="col-sm-5 pt-5">
        <span class="tjs stitle">What is Scribe?</span><br>
        <span class="tjs stxt">
            Scribe is a thought sharing platform where
            you can share your thoughts and craziest
            ideas with the world.<br>
            You can also interact with other users <br>
            by commenting their posts.<br>
            Create a free account and get started<br>
            Lets get started
        </span>
    </div>
</div>


<div class="row">
    <div class="col-sm-3 offset-sm-1">
        <span class="ztxt" style="text-align: left;">
        Contact us:<br>
        amarpreettsahani@gmail.com
        8948894882
        </span>
    </div>
    <div class="col-sm-4">
        facebook etc
    </div>
    <div class="col-sm-3">
        <span class="ztxt" style="text-align: right;">
            Sector G,<br>
            Near Spring Dale College<br>
            LDA Colony, Lucknow
        </span>
    </div>
</div>
</div>